In [52]:
#import pandas library

import pandas as pd
import numpy as np

In [53]:
#reading csv file
df = pd.read_csv("data.csv")

In [54]:
#drop null value
df = df.dropna(how='any')

In [55]:
df = df.reset_index(drop=True)

In [56]:
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              NCD19        8.930  ...  Supermarket Type1           994.7052
4              FDP36       10.395  ...  Supermarket Type2           556.6088
...              ...          ...  ...                ...                ...
4645           FDF53       20.750  ...  Supermarket Type1          3608.6360
4646           FDF22        6.865  ...  Supermarket Type1          2778.3834
4647           NCJ29       10.600  ...  Supermarket Type1          1193.1136
4648           FDN46        7.210  ...  Supermarket Type2          1845.5976
4649           DRG01       14.800  ...  Supermarket Type1           765.6700

[4650 rows x 12 columns]

In [57]:
#type covert
df.to_excel('data.xlsx')

In [58]:
#selecting the col by name
df['Item_Weight']

0        9.300
1        5.920
2       17.500
3        8.930
4       10.395
         ...
4645    20.750
4646     6.865
4647    10.600
4648     7.210
4649    14.800
Name: Item_Weight, Length: 4650, dtype: float64

In [59]:
df[['Item_MRP', 'Item_Fat_Content']]

      Item_MRP Item_Fat_Content
0     249.8092          Low Fat
1      48.2692          Regular
2     141.6180          Low Fat
3      53.8614          Low Fat
4      51.4008          Regular
...        ...              ...
4645  178.8318              reg
4646  214.5218          Low Fat
4647   85.1224          Low Fat
4648  103.1332          Regular
4649   75.4670          Low Fat

[4650 rows x 2 columns]

In [60]:
#Specific Row Selection
df[df['Item_Fat_Content'] == 'Regular']

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
1              DRC01        5.920  ...  Supermarket Type2           443.4228
4              FDP36       10.395  ...  Supermarket Type2           556.6088
5              FDO10       13.650  ...  Supermarket Type1           343.5528
7              FDA03       18.500  ...  Supermarket Type1          2187.1530
8              FDX32       15.100  ...  Supermarket Type1          1589.2646
...              ...          ...  ...                ...                ...
4636           FDB46       10.500  ...  Supermarket Type2          2117.2440
4638           FDN28        5.880  ...  Supermarket Type1           515.9950
4639           FDN58       13.800  ...  Supermarket Type1          7182.6504
4642           FDH31       12.000  ...  Supermarket Type1           595.2252
4648           FDN46        7.210  ...  Supermarket Type2          1845.5976

[1575 rows x 12 columns]

In [61]:
#sort Values
#sort By Year
soterd_data = df.sort_values(by='Outlet_Establishment_Year')

In [62]:
soterd_data

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
1537           FDR60       14.300  ...  Supermarket Type1           617.8624
3251           NCJ06       20.100  ...  Supermarket Type1          1549.3166
2115           FDY38       13.600  ...  Supermarket Type1          2330.3000
690            FDB37       20.250  ...  Supermarket Type1          3364.9532
3248           NCA18       10.100  ...  Supermarket Type1          1737.7380
...              ...          ...  ...                ...                ...
2931           FDO39        6.985  ...  Supermarket Type2          4042.7376
1154           DRO47       10.195  ...  Supermarket Type2           452.7440
1156           NCJ42       19.750  ...  Supermarket Type2          1537.9980
336            DRG39       14.150  ...  Supermarket Type2          1262.3568
715            FDN12       15.600  ...  Supermarket Type2          1454.1072

[4650 rows x 12 columns]

In [63]:
soterd_data = df.sort_values(by='Outlet_Establishment_Year', ascending=False)
soterd_data

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
1544           FDL16        12.85  ...  Supermarket Type2           186.4240
4032           NCD42        16.50  ...  Supermarket Type2           227.7036
1165           DRJ39        20.25  ...  Supermarket Type2          2409.5302
1163           FDR60        14.30  ...  Supermarket Type2          1312.9576
1161           FDM58        16.85  ...  Supermarket Type2          1677.8160
...              ...          ...  ...                ...                ...
1825           FDL13        13.85  ...  Supermarket Type1          1398.1800
3727           FDL56        14.10  ...  Supermarket Type1          1133.8574
1827           FDH40        11.60  ...  Supermarket Type1          1543.3244
1829           NCQ42        20.35  ...  Supermarket Type1          1017.3424
2325           NCQ43        17.75  ...  Supermarket Type1           982.7208

[4650 rows x 12 columns]

In [64]:
#Apply Function
df.apply(lambda x : x)

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              NCD19        8.930  ...  Supermarket Type1           994.7052
4              FDP36       10.395  ...  Supermarket Type2           556.6088
...              ...          ...  ...                ...                ...
4645           FDF53       20.750  ...  Supermarket Type1          3608.6360
4646           FDF22        6.865  ...  Supermarket Type1          2778.3834
4647           NCJ29       10.600  ...  Supermarket Type1          1193.1136
4648           FDN46        7.210  ...  Supermarket Type2          1845.5976
4649           DRG01       14.800  ...  Supermarket Type1           765.6700

[4650 rows x 12 columns]

In [65]:
df.apply(lambda x:x[0])

Item_Identifier                          FDA15
Item_Weight                                9.3
Item_Fat_Content                       Low Fat
Item_Visibility                      0.0160473
Item_Type                                Dairy
Item_MRP                               249.809
Outlet_Identifier                       OUT049
Outlet_Establishment_Year                 1999
Outlet_Size                             Medium
Outlet_Location_Type                    Tier 1
Outlet_Type                  Supermarket Type1
Item_Outlet_Sales                      3735.14
dtype: object

In [66]:
#access col by index
df.apply(lambda x:x[0], axis=1)

0       FDA15
1       DRC01
2       FDN15
3       NCD19
4       FDP36
        ...
4645    FDF53
4646    FDF22
4647    NCJ29
4648    FDN46
4649    DRG01
Length: 4650, dtype: object

In [67]:
#acess col by Name
df.apply(lambda x:x['Item_Fat_Content'], axis=1)

0       Low Fat
1       Regular
2       Low Fat
3       Low Fat
4       Regular
         ...
4645        reg
4646    Low Fat
4647    Low Fat
4648    Regular
4649    Low Fat
Length: 4650, dtype: object

In [68]:
def clip_price(price):
  if price > 200:
    price = 200
  return price

In [69]:
df['Item_MRP']

0       249.8092
1        48.2692
2       141.6180
3        53.8614
4        51.4008
          ...
4645    178.8318
4646    214.5218
4647     85.1224
4648    103.1332
4649     75.4670
Name: Item_MRP, Length: 4650, dtype: float64

In [70]:
df['Item_MRP'].apply(lambda x : clip_price(x))

0       200.0000
1        48.2692
2       141.6180
3        53.8614
4        51.4008
          ...
4645    178.8318
4646    200.0000
4647     85.1224
4648    103.1332
4649     75.4670
Name: Item_MRP, Length: 4650, dtype: float64

In [71]:
#Aggregation
#groupby

#groupby for price
price_by_item = df.groupby('Item_Type')

#display first few rows
price_by_item.first()

                      Item_Identifier  ...  Item_Outlet_Sales
Item_Type                              ...
Baking Goods                    FDP36  ...           556.6088
Breads                          FDW11  ...           619.1940
Breakfast                       FDP49  ...          1547.3192
Canned                          FDC02  ...          6768.5228
Dairy                           FDA15  ...          3735.1380
Frozen Foods                    FDR28  ...          4078.0250
Fruits and Vegetables           FDY07  ...          1516.0266
Hard Drinks                     DRJ59  ...           308.9312
Health and Hygiene              NCB42  ...          1621.8888
Household                       NCD19  ...           994.7052
Meat                            FDN15  ...          2097.2700
Others                          NCM43  ...          2120.5730
Seafood                         FDH21  ...          1267.6832
Snack Foods                     FDO10  ...           343.5528
Soft Drinks                     DRC01  ...           443.4228
Starchy Foods                   FDB11  ...          6301.1312

[16 rows x 11 columns]

In [72]:
price_by_item.Item_MRP.mean()

Item_Type
Baking Goods             125.795653
Breads                   141.300639
Breakfast                134.090683
Canned                   138.551179
Dairy                    149.481471
Frozen Foods             140.095830
Fruits and Vegetables    145.418257
Hard Drinks              140.102908
Health and Hygiene       131.437324
Household                149.884244
Meat                     140.279344
Others                   137.640870
Seafood                  146.595782
Snack Foods              147.569955
Soft Drinks              130.910182
Starchy Foods            151.256747
Name: Item_MRP, dtype: float64

In [73]:
#multi col groupby
multiple_groups = df.groupby(['Item_Type', 'Item_Fat_Content'])
multiple_groups.first()

                               Item_Identifier  ...  Item_Outlet_Sales
Item_Type     Item_Fat_Content                  ...
Baking Goods  LF                         FDP24  ...          1332.9316
              Low Fat                    FDG24  ...          1081.9250
              Regular                    FDP36  ...           556.6088
              low fat                    FDK48  ...          2181.8266
              reg                        FDT24  ...          1158.4920
...                                        ...  ...                ...
Starchy Foods LF                         FDB11  ...          3600.6464
              Low Fat                    FDB11  ...          6301.1312
              Regular                    FDB35  ...          1929.4884
              low fat                    FDE47  ...          1618.5598
              reg                        FDF11  ...          3605.3070

[67 rows x 10 columns]

In [74]:
#crosstab distribution frequency
pd.crosstab(df['Outlet_Size'], df['Outlet_Location_Type'], margins=True)

Outlet_Location_Type  Tier 1  Tier 2  Tier 3   All
Outlet_Size
High                       0       0     932   932
Medium                   930       0     928  1858
Small                    930     930       0  1860
All                     1860     930    1860  4650

In [75]:
pd.crosstab(df['Item_Fat_Content'], df['Item_MRP'], margins=True)

Item_MRP          31.49  31.89  31.9558  ...  266.6884  266.8884   All
Item_Fat_Content                         ...
LF                    0      0        0  ...         0         0   177
Low Fat               1      1        1  ...         1         0  2774
Regular               0      0        0  ...         0         1  1575
low fat               0      0        0  ...         0         0    53
reg                   0      0        0  ...         0         0    71
All                   1      1        1  ...         1         1  4650

[6 rows x 3807 columns]

In [76]:
#pivot Table
pd.pivot_table(df, index=['Outlet_Establishment_Year'], values="Item_Outlet_Sales")

                           Item_Outlet_Sales
Outlet_Establishment_Year
1987                             2298.995256
1997                             2277.844267
1999                             2348.354635
2004                             2438.841866
2009                             1995.498739

In [77]:
pd.pivot_table(df, index=['Outlet_Establishment_Year', 'Outlet_Location_Type', 'Outlet_Size'], values="Item_Outlet_Sales")

                                                            Item_Outlet_Sales
Outlet_Establishment_Year Outlet_Location_Type Outlet_Size
1987                      Tier 3               High               2298.995256
1997                      Tier 1               Small              2277.844267
1999                      Tier 1               Medium             2348.354635
2004                      Tier 2               Small              2438.841866
2009                      Tier 3               Medium             1995.498739

In [78]:
pd.pivot_table(df, index=['Outlet_Establishment_Year', 'Outlet_Location_Type', 'Outlet_Size'], values="Item_Outlet_Sales", aggfunc = [np.mean, np.median, min, max, np.std])

                                                                        mean  ...               std
                                                           Item_Outlet_Sales  ... Item_Outlet_Sales
Outlet_Establishment_Year Outlet_Location_Type Outlet_Size                    ...
1987                      Tier 3               High              2298.995256  ...       1533.531664
1997                      Tier 1               Small             2277.844267  ...       1488.405631
1999                      Tier 1               Medium            2348.354635  ...       1513.289464
2004                      Tier 2               Small             2438.841866  ...       1538.512533
2009                      Tier 3               Medium            1995.498739  ...       1375.932889

[5 rows x 5 columns]